{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/css/main.css' %}">
    <div class="container">        
      <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1">Welcome in the</h1>
                  <h1 id="header-h2">RANSOMWARES</h1>
                  <h1 id="header-h3">scanning and detection<br>web app.</h1>
                
                 
                
                  <p id="header-paragraph">Do you want to detect ransomwares and protect your computer system against it ?</p>
                </div>
              </div>
    </div>
{% endblock content %}